*{
  margin: 0;
}
body{
  background-color: rgba(0, 255, 255, 0.171);
}
.container{
  width: 90%;
  max-width: 1536px;
  height: 100px;
  position: relative;
  margin-inline: auto;
  margin-top: 5rem;
  overflow: hidden;
  mask-image: linear-gradient(
  to right ,
  rgba(0,0,0,0) ,
  rgba(0,0,0,1) 20% ,
  rgba(0,0,0,1) 80% ,
  rgba(0,0,0,0)
  )  ;
 
}
.items{
  height: 100px;
  width: 200px;
  border-radius: 8px;
  position: absolute;
  left: max(calc(200px * 8) , 100% )  ;
  color: white;
  animation-name: scrollLeft;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.item1{
  animation-delay: calc(10s / 8 * (8 - 1) * -1);
}
.item2{
  animation-delay: calc(10s / 8 * (8 - 2) * -1);
}
.item3{
  animation-delay: calc(10s / 8 * (8 - 3) * -1);
}
.item4{
  animation-delay: calc(10s / 8 * (8 - 4) * -1);
}
.item5{
  animation-delay:calc(10s / 8 * (8 - 5) * -1);
}
.item6{
  animation-delay:calc(10s / 8 * (8 - 6) * -1);
}
.item7{
  animation-delay:calc(10s / 8 * (8 - 7) * -1);
}
.item8{
  animation-delay:calc(10s / 8 * (8 - 8) * -1);
}
@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

